@model MedWeb.Web.Models.DoctorViewModel
@{
    ViewBag.Title = "DetailsOfDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lekarz: dr.@Model.LastName</h2>
<ul>
    <li>Imię lekarza: @Model.FirstName</li>
    <li>Specjalizacja: @Model.SpecializationId</li>
</ul>

