@model MedWeb.Web.Models.SpecializationViewModel
@{
    ViewBag.Title = "DetailsOfSpecialization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacje szczegółowe o wybranej specjalizacji</h2>
<ul>
    <li>Nazwa specjalizacji: @Model.Name</li>
</ul>