@model IEnumerable<MedWeb.Web.Models.SpecializationViewModel>
@{
    ViewBag.Title = "ReadOnlyListOfSpecializations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadOnlyListOfSpecializations</h2>

